{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="hero-image-container">
            <div class="hero-text-container d-flex align-items-center justify-content-center">
                <div class="text-center hero-text-background">
                    <h1 class="display-4 text-white">Discover Our Latest Workout Gear</h1>
                    <p class="lead text-white">Get started with your fitness journey with our premium products today</p>
                    <a href="#" class="btn btn-primary btn-lg rounded-pill px-4">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
