/* Resetting body and html padding and margins */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #555;
    font-family: 'Lato';
}

/* Background image for the body */
body {
    background: url('/media/home-page-logo-gym-anderson-health-fitness.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/* Ensuring the navbar and its container fill the entire width */
.navbar {
    padding-left: 0;
    padding-right: 0;
}

/* Removing padding from the container-fluid and header-container */
.container-fluid, .header-container {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

/* Removing padding from the container */
.container {
    padding-left: 0;
    padding-right: 0;
}

/* Keeping the navbar fixed at the top without any gap */
.fixed-top {
    top: 0;
    left: 0;
    right: 0;
}

/* Ensuring the delivery banner fills the width too */
#delivery-banner {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

/* Custom margin for the navbar brand */
.navbar-brand {
    margin-left: 15px;
}