<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav me-auto">
        <!-- Workout Gear Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="gear-link" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Workout Gear
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="gear-link">
                <li><a class="dropdown-item" href="{% url 'category_gear_list' 3 %}">Clothing <i
                            class="fa-regular fa-shirt"></i></a></li>
                <li><a class="dropdown-item" href="{% url 'category_gear_list' 4 %}">Accessories <i
                            class="fa-regular fa-notebook"></i> <i class="fa-regular fa-pen"></i></a></li>
                <li><a class="dropdown-item" href="{% url 'category_gear_list' 5 %}">Equipment <i
                            class="fa-solid fa-dumbbell"></i></a></li>
                <li><a class="dropdown-item" href="{% url 'gear_list' %}">All Gear</a></li>
            </ul>
        </li>

        {% if user.is_staff %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="product-management-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-cog"></i> Product Management
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="product-management-link">
                <li><a class="dropdown-item" href="{% url 'add_product' %}"><i class="fas fa-plus"></i> Add New
                        Product</a></li>
                <li><a class="dropdown-item" href="{% url 'gear_list' %}"><i class="fas fa-edit"></i> Manage
                        Products</a></li>
            </ul>
        </li>
        {% endif %}

        <!-- News Link -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'news_list' %}">News</a>
        </li>
    </ul>

    <!-- Search Bar (Visible on larger screens only) -->
    <form class="d-flex me-auto d-none d-lg-flex" method="GET" action="{% url 'search_gear' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <!-- My Account and Checkout (Visible on larger screens only) -->
    <ul class="navbar-nav ms-auto d-none d-lg-flex">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                {% endif %}
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_cart' %}">
                <i class="fa-regular fa-cart-shopping"></i>
                <span id="cart-total">(€{{ grand_total|floatformat:2 }})</span>
            </a>
        </li>
    </ul>
</div>
