{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load allauth %}
{% load i18n %}

{% block head_title %}{% trans "Confirm Access" %}{% endblock head_title %}

{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4 text-center">{% trans "Confirm Access" %}</h2>
    <hr>

    <p class="text-center">
        {% blocktrans %}Please reauthenticate to safeguard your account.{% endblocktrans %}
    </p>

    <!-- Reauthentication Form -->
    {% block reauthenticate_content %}{% endblock %}
    
    <!-- Alternative Options -->
    {% if reauthentication_alternatives %}
        <hr>
        <h3 class="text-center">{% trans "Alternative options" %}</h3>
        
        <div class="d-flex justify-content-center mt-3">
            <div class="btn-group" role="group">
                {% for alt in reauthentication_alternatives %}
                    <a href="{{ alt.url }}" class="btn btn-outline-primary">{{ alt.description }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock inner_content %}
