{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Form Container -->
    <div class="container d-flex justify-content-center align-items-center min-vh-100 position-relative">
        <!-- Overlay for background -->
        <div class="overlay"></div>
        
        <!-- Form Wrapper -->
        <div class="row w-100 justify-content-center">
            <div class="col-12 col-md-8 col-lg-5">
                <div class="allauth-form-inner-content bg-white p-4 rounded shadow">
                    <!-- Inner content block for form -->
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
