{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <h2 class="logo-font mb-4 text-center">{% trans "Password Reset" %}</h2>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>

        <!-- Navigation Buttons -->
        <div class="d-flex justify-content-between align-items-center mt-4">
            <a class="btn btn-outline-secondary rounded-0" href="{% url 'account_login' %}">Back to Login</a>
            <button class="btn btn-primary" type="submit">{% trans 'Reset My Password' %}</button>
        </div>
    </form>

    <p class="text-center mt-3">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
