{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}

    <h2 class="logo-font mb-4 text-center">{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        
        <!-- Set Password Button -->
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary" type="submit">{% trans "Set Password" %}</button>
        </div>
    </form>
{% endblock %}
