{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <!-- Header Section -->
    <h2 class="logo-font mb-4 text-center">{% trans "Change Password" %}</h2>

    <!-- Password Change Form -->
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        
        <!-- Navigation Buttons -->
        <div class="d-flex justify-content-between align-items-center mt-4">
            <a class="btn btn-outline-secondary rounded-0" href="{% url 'account_login' %}">Back to Login</a>
            <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
