{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block inner_content %}

    <h2 class="logo-font mb-4 text-center">{% trans "Mail me a sign-in code" %}</h2>

    <p class="text-center">
        {% blocktrans %}You will receive an email containing a special code for a password-free sign-in.{% endblocktrans %}
    </p>

    <form method="post" action="{% url 'account_request_login_code' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        {{ redirect_field }}

        <!-- Request Code Button -->
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary" type="submit">{% trans "Request Code" %}</button>
        </div>
    </form>

    <!-- Other Sign-in Options -->
    <div class="text-center mt-4">
        <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">{% trans "Other sign-in options" %}</a>
    </div>
{% endblock %}
