{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container gear-item-container"> <!-- Added gear-item-container class -->
        <div class="row">
            <div class="col">
                <h1>{{ category.friendly_name }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container content-area mt-5">
    <div class="row">
        <div class="col text-center">
            <h2>{{ category.friendly_name }}</h2>
            <a href="javascript:history.back()" class="btn btn-outline-secondary back-button">
                <i class="fa-solid fa-square-arrow-left"></i>
            </a>
        </div>
    </div>

     <!-- Sort By Section -->
     <div class="row mb-3">
        <div class="col text-center">
            <h4>Sort by:</h4>
            <a href="?sort=name&direction=asc" class="btn btn-outline-secondary btn-sm">Name (A-Z)</a>
            <a href="?sort=name&direction=desc" class="btn btn-outline-secondary btn-sm">Name (Z-A)</a>
            <a href="?sort=price&direction=asc" class="btn btn-outline-secondary btn-sm">Price (Low-High)</a>
            <a href="?sort=price&direction=desc" class="btn btn-outline-secondary btn-sm">Price (High-Low)</a>
            <a href="?sort=rating&direction=desc" class="btn btn-outline-secondary btn-sm">Rating (High-Low)</a>
        </div>
    </div>

    <div class="row">
        {% if gear_items %}
            {% for item in gear_items %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 border-0">
                    {% if item.image_file %}
                    <a href="{% url 'gear_detail' item.id %}">
                        <img class="card-img-top img-fluid" src="{{ item.image_file.url }}" alt="{{ item.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'gear_detail' item.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body text-center">
                        <p class="mb-0">{{ item.name }}</p>
                        <p class="font-weight-bold">€{{ item.cost }}</p>
                        <a href="" class="btn btn-primary btn-lg mt-2">Add to Cart</a> <!-- Add to Cart button added -->
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="col text-center">
            <p>No items found in this category.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
