{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1>Workout Gear!</h1>
            <p>Find the best gear for your workout needs.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-area">
    <!-- Categories Section -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Categories</h2>
            <hr class="w-50 mb-1">
            <ul class="list-unstyled">
                {% for category in categories %}
                <li>
                    <a href="{% url 'category_gear_list' category.id %}" class="btn btn-outline-primary mb-2">{{ category.friendly_name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- All Gear Section -->
    <div class="row">
        <div class="col text-center mt-5">
            <h2 class="logo-font">All Gear</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        {% for item in gear_items %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card h-100 border-0 shadow-sm">
                {% if item.image_file %}
                <a href="{% url 'gear_detail' item.id %}">
                    <img class="card-img-top img-fluid" src="{{ item.image_file.url }}" alt="{{ item.name }}">
                </a>
                {% else %}
                <a href="{% url 'gear_detail' item.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <p class="mb-0">{{ item.name }}</p>
                    <p class="text-muted">€{{ item.cost }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
